<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Stock Website</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/colorpicker.css' %}" />
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<link rel="stylesheet" href="{% static 'css/uniform.css' %}" />
<link rel="stylesheet" href="{% static 'css/select2.css' %}" />
<link rel="stylesheet" href="{% static 'css/maruti-style.css' %}" />
<link rel="stylesheet" href="{% static 'css/maruti-media.css' %}" class="skin-color" />
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="{% url 'index' %}">Stock Website</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
<!--close-top-Header-messaages--> 

<!--top-Header-menu-->
<div class="container">
  <div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
      <li class="" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
      <li class=" dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="sAdd" title="" href="#">new message</a></li>
          <li><a class="sInbox" title="" href="#">inbox</a></li>
          <li><a class="sOutbox" title="" href="#">outbox</a></li>
          <li><a class="sTrash" title="" href="#">trash</a></li>
        </ul>
      </li>
      <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
      <li class=""><a title="" href="{% url 'login1' %}"><i class="icon icon-share-alt"></i> <span class="text">Login</span></a></li>
    </ul>
  </div>
<!--close-top-Header-menu-->

  <div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Home</a><ul>
      <li class="active"><a href="{% url 'index' %}"><i class="icon icon-home"></i> <span>Home</span></a> </li>
      <li> <a href="{% url 'charts' %}"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a> </li>
      <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Market</span> <span class="label label-important">3</span></a>
        <ul>
          <li><a href="{% url 'form' %}">Indian Indices</a></li>
          <li><a href="{% url 'market' %}">Stock Actions</a></li>
        </ul>
      </li>
      <li><a href="{% url 'tables' %}"><i class="icon icon-th"></i> <span>Tables</span></a></li>
<!--close-left-menu-stats-sidebar-->
</ul>
  </div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="{% url 'index' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    <h1>Market Action Watch</h1>
    <div>
      <iframe id="marketwatch" src="http://www.vjondalalstreet.com/marketwatch-widget.php" style="margin-left: 20px; border: 20px"; width="1400" height="90" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
    </div>
    <div style="width: 100%;">
      <div style="width: 20px; height: 100px; float: left"> 
        <iframe src="https://ssltsw.investing.com?lang=56&forex=160,1646,1,2,3,5,9&commodities=8830,8836,8831,8849,8833,8862,8832&indices=23660,166,172,27,179,53094,170&stocks=345,346,347,348,349,350,352&tabs=1,2,3,4" style="margin-top: 20px; margin-left: 20px"; style="margin-left: 200px"; width="317" height="290"></iframe><div class="poweredBy" style="font-family:arial,helvetica,sans-serif; direction:ltr;"></div>
      </div>
      <div style="margin-left: 400px; height: 100px;"> 
        <iframe style="margin-top: 20px; margin-left: 60px"; id="ipo-watch" src="http://www.vjondalalstreet.com/indian-ipo-widget.php"  align="middle" width="700" height="190" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
      </div>
  </div>
    <div>
  </div>
    
  </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script> 
<script src="{% static 'js/jquery.ui.custom.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/bootstrap-colorpicker.js' %}"></script> 
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script> 
<script src="{% static 'js/jquery.uniform.js' %}"></script> 
<script src="{% static 'js/select2.min.js' %}"></script> 
<script src="{% static 'js/maruti.js' %}"></script> 
<script src="{% static 'js/maruti.form_common.js' %}"></script>
</body>
</html>
